/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

nav {
  background-color: #808080;
}

ul {
  padding: 0;
}

.nav-items {
  background-color: #ffbf00;
  display: inline-block;
  background-color: #ffbf00;
  color: white;
  padding: 35px;
  float: left;
}

li:hover, a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

h1 {
  color: rgb(2, 132, 130);
  text-align: center;
}

h2 {
  color: #ffd700;
  text-align: center;
}

p {
    text-align: center;
}

.board {
  height: 80%;
  width: 50%;
  display: inline-block;;
  margin: 8%;
  float: left;
}

.card {
  height: 200px;
  width: 150px;
  background-color: yellow;
  border: black solid 1px;
  border-radius: 10px;
  display: inline-block;
}

.name {
  color: #ff0000;
}

footer {
  background-color: #808080;
  display: block;
  text-align: center;
}
